.service {
    display: grid;
    grid-column: 2 / 6;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 250px);
    grid-gap: 50px;
    grid-row-gap: 70px;
    padding: 50px 0px;
}

.service-image {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.service-text {
    text-align: center;
}

.text {
    margin-top: 0.4rem;
}